<a href="https://colab.research.google.com/github/VyshnaviNagaSai/MachineLearning/blob/main/Cross_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from numpy import mean
from numpy import absolute
from numpy import sqrt

CROSS VALIDATION ON SIMPLE LINEAR REGRESSION

In [26]:
data=pd.read_csv('/content/Company_data.csv')

In [27]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [28]:
x=data.drop('Sales',axis=1).values
y=data['Sales'].values

In [29]:
x_tv=x[:,0]

In [30]:
x_tv=x_tv.reshape(-1,1)
y=y.reshape(-1,1)

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [32]:
lm=LinearRegression()

In [33]:
folds=KFold(n_splits=5,shuffle=True,random_state=100)
scores=cross_val_score(lm,x_train,y_train,scoring='neg_mean_squared_error',cv=folds)
sqrt(mean(absolute(scores)))

1.6833356650577362

CROSS VALIDATION ON MULTIPLE LINEAR REGRESSION

In [34]:
df=pd.read_csv('/content/archive (3).zip')

In [35]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [36]:
x1=df.drop('Profit',axis=1).values
y1=df['Profit'].values

In [37]:
x1=df.select_dtypes(include=np.number)

In [38]:
x1_train1,x1_test1,y1_train1,y1_test1=train_test_split(x1,y1,test_size=0.2,random_state=42)

In [39]:
model=LinearRegression()

In [40]:
fold=KFold(n_splits=5,shuffle=True,random_state=1)
score=cross_val_score(model,x1_train1,y1_train1,scoring='neg_mean_squared_error',cv=fold)
sqrt(mean(absolute(score)))

2.5206297397713545e-11